body{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    background-color: rgba(20, 20, 31, 0.95);
}


nav {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    position: absolute  ;
    background-color: rgb(13, 13, 21);;
    overflow: hidden;
    top: 0; 
    left: 0; 
    width: 100%; 
    letter-spacing: 2px;
    font-size: 20px;
}

nav .navbar {
    margin-left: 50px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 1px solid transparent;
}

nav .navbar:hover {
    background-color: rgb(18, 17, 28);
    color: rgb(255, 217, 28);
    border-bottom: 2px solid rgb(255, 217, 28);
}

#logo-home img {
    width: 80px;
    height: 50px;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 2px;
    float: left;
}